In [1]:
# Connect to the Google Account

import subprocess
# Install the Google Cloud SDK
subprocess.run(["gcloud", "auth", "application-default", "login"])

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=764086051850-6qr4p6gpi6hn506pt8ejuq83di341hur.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8085%2F&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fsqlservice.login&state=NAOWBMsPYVU6mgHqv3Z0QqQh4Kkxdx&access_type=offline&code_challenge=zJEbiB_zQ7thWGlT1q4WCGFUHmEIRvIhed00XQNksSA&code_challenge_method=S256


Credentials saved to file: [/Users/zhuyu/.config/gcloud/application_default_credentials.json]

These credentials will be used by any library that requests Application Default Credentials (ADC).

Quota project "carbon-virtue-378402" was added to ADC which can be used by Google client libraries for billing and quota. Note that some services may still bill the project owning the resource.

CompletedProcess(args=['gcloud', 'auth', 'application-default', 'login'], returncode=0)

In [2]:
from google.cloud import bigquery
import pandas as pd
import os

# Initialize BigQuery client
client = bigquery.Client()

# Function to run queries and return DataFrame
def run_query(query):
    return client.query(query).to_dataframe()

In [3]:
# 1. Get basic patient info (admissions + demographics (excluding marital_status) + death status)
patient_info_query = """
SELECT adm.subject_id, adm.hadm_id, adm.admittime, adm.dischtime, 
       pat.gender, pat.anchor_age AS approximate_age_at_admission, 
       adm.race, adm.hospital_expire_flag,
       DATETIME_DIFF(adm.admittime, DATETIME(pat.anchor_year, 1, 1, 0, 0, 0), YEAR) + pat.anchor_age AS actual_age
FROM `physionet-data.mimiciv_hosp.admissions` AS adm
JOIN `physionet-data.mimiciv_hosp.patients` AS pat
ON adm.subject_id = pat.subject_id
WHERE adm.admittime IS NOT NULL
ORDER BY subject_id
"""
patient_info_df = run_query(patient_info_query)

# Set in-hospital death status
patient_info_df['in_hospital_death'] = patient_info_df['hospital_expire_flag'] == 1
patient_info_df = patient_info_df.drop(columns=['hospital_expire_flag'])

# Calculate length of stay and keep data with positive L.O.S
patient_info_df['admittime'] = pd.to_datetime(patient_info_df['admittime'])
patient_info_df['dischtime'] = pd.to_datetime(patient_info_df['dischtime'])
patient_info_df['length_of_stay'] = (patient_info_df['dischtime'] - patient_info_df['admittime']).dt.total_seconds() / (60 * 60 * 24)
patient_info_df = patient_info_df[patient_info_df['length_of_stay'] > 0]

# Display a sample of the resulting DataFrame
print(patient_info_df.head())
print(f"Number of rows in the dataset: {patient_info_df.shape[0]}")

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   subject_id   hadm_id           admittime           dischtime gender  \
0    10000032  22841357 2180-06-26 18:27:00 2180-06-27 18:49:00      F
1    10000032  29079034 2180-07-23 12:35:00 2180-07-25 17:55:00      F
2    10000032  25742920 2180-08-05 23:44:00 2180-08-07 17:50:00      F
3    10000032  22595853 2180-05-06 22:23:00 2180-05-07 17:15:00      F
4    10000068  25022803 2160-03-03 23:16:00 2160-03-04 06:26:00      F

   approximate_age_at_admission   race  actual_age  in_hospital_death  \
0                            52  WHITE          52              False
1                            52  WHITE          52              False
2                            52  WHITE          52              False
3                            52  WHITE          52              False
4                            19  WHITE          19              False

   length_of_stay
0        1.015278
1        2.222222
2        1.754167
3        0.786111
4        0.298611
Number of rows in the dataset: 431089

In [4]:
patient_info_df

,subject_id,hadm_id,admittime,dischtime,gender,approximate_age_at_admission,race,actual_age,in_hospital_death,length_of_stay
0,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,F,52,WHITE,52,False,1.015278
1,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,F,52,WHITE,52,False,2.222222
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,F,52,WHITE,52,False,1.754167
3,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,F,52,WHITE,52,False,0.786111
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,F,19,WHITE,19,False,0.298611
...,...,...,...,...,...,...,...,...,...,...
431226,19999828,29734428,2147-07-18 16:23:00,2147-08-04 18:10:00,F,46,WHITE,46,False,17.074306
431227,19999828,25744818,2149-01-08 16:44:00,2149-01-18 17:00:00,F,46,WHITE,48,False,10.011111
431228,19999840,26071774,2164-07-25 00:27:00,2164-07-28 12:15:00,M,58,WHITE,58,False,3.491667
431229,19999840,21033226,2164-09-10 13:47:00,2164-09-17 13:42:00,M,58,WHITE,58,True,6.996528
431230,19999987,23865745,2145-11-02 21:38:00,2145-11-11 12:57:00,F,57,UNKNOWN,57,False,8.638194

In [5]:
# Count number of patients
num_patients = patient_info_df['subject_id'].nunique()
print(f"Number of patients: {num_patients}")

Number of patients: 180677

In [ ]:
# 2. Get high lipase level patients

# Step 1: Retrieve item IDs for lipase tests in ICU
lipase_item_query_icu = """
SELECT itemid, label, category
FROM physionet-data.mimiciv_icu.d_items
WHERE LOWER(label) LIKE '%lipase%'
"""
lipase_items_df_icu = run_query(lipase_item_query_icu)
print(lipase_items_df_icu)
lipase_itemids_icu = "225672"  # Lipase item ID for ICU

# Step 2: Retrieve item IDs for lipase tests in hosp
lipase_item_query_hosp = """
SELECT itemid, label, fluid
FROM physionet-data.mimiciv_hosp.d_labitems
WHERE LOWER(label) LIKE '%lipase%'
"""
lipase_items_df_hosp = run_query(lipase_item_query_hosp)
print(lipase_items_df_hosp)
lipase_items_hosp = [50956, 50844, 51055, 51036]  # Lipase item IDs for hosp

# Step 3: Retrieve lipase values from ICU
lipase_values_query_icu = f"""
SELECT subject_id, hadm_id, charttime, valuenum AS lipase_level
FROM `physionet-data.mimiciv_icu.chartevents`
WHERE itemid IN ({lipase_itemids_icu})
ORDER BY subject_id, charttime
"""
lipase_values_df_icu = run_query(lipase_values_query_icu)

# Step 4: Retrieve lipase values from hosp
lipase_values_query_hosp = f"""
SELECT subject_id, hadm_id, charttime, valuenum AS lipase_level
FROM `physionet-data.mimiciv_hosp.labevents`
WHERE itemid IN ({', '.join(map(str, lipase_items_hosp))})
ORDER BY subject_id, charttime
"""
lipase_values_df_hosp = run_query(lipase_values_query_hosp)

# Step 5: Combine ICU and hosp lipase records
lipase_values_df = pd.concat([lipase_values_df_icu, lipase_values_df_hosp], ignore_index=True)

# Step 6: Merge with patient info to add age and other basic details (only one merge needed)
lipase_values_df = pd.merge(
    lipase_values_df,
    patient_info_df.copy(),
    on=['subject_id', 'hadm_id'],
    how='left'
)

# Step 7: Define a function to check high lipase levels based on age threshold
def check_high_lipase(row, age_cutoff=60):
    # Check if 'actual_age' is NaN and skip if so
    if pd.isna(row['actual_age']):
        return False  # or set a default value, depending on the requirement
    
    upper_limit = 140 if row['actual_age'] < age_cutoff else 151
    return row['lipase_level'] >= 3 * upper_limit

# Step 8: Filter to include only records with high lipase levels
high_lipase_df = lipase_values_df[lipase_values_df.apply(check_high_lipase, axis=1)].copy()


# Step 9: Sort and retain the earliest record for each subject_id and hadm_id combination
high_lipase_df = high_lipase_df.sort_values(by=['subject_id', 'hadm_id', 'charttime']).drop_duplicates(
    subset=['subject_id', 'hadm_id'], keep='first'
)

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   itemid   label category
0  225672  Lipase     Labs

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   itemid               label             fluid
0   50956              Lipase             Blood
1   50844     Lipase, Ascites           Ascites
2   51055     Lipase, Pleural           Pleural
3   51036  Lipase, Body Fluid  Other Body Fluid

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

       subject_id   hadm_id           charttime  lipase_level  \
1        10004606  29242151 2159-02-20 18:30:00        1222.0
17547    10006431  24638489 2129-01-23 23:36:00         508.0
15       10017531  22580355 2159-09-22 20:56:00        1164.0
17804    10021357  25937617 2144-12-30 06:55:00        1249.0
55       10036086  28728587 2196-05-26 09:25:00         677.0

                admittime           dischtime gender  \
1     2159-02-20 13:43:00 2159-03-06 16:51:00      F
17547 2129-01-24 01:08:00 2129-01-30 16:50:00      F
15    2159-09-22 19:30:00 2159-10-24 13:40:00      M
17804 2144-12-27 19:41:00 2145-01-04 19:54:00      F
55    2196-05-20 02:47:00 2196-06-12 11:42:00      M

       approximate_age_at_admission   race  actual_age  in_hospital_death  \
1                                64  WHITE          64              False
17547                            66  WHITE          67              False
15                               63  WHITE          64              False
17804                            91  WHITE          91              False
55                               57  WHITE          58              False

       length_of_stay
1           14.130556
17547        6.654167
15          31.756944
17804        8.009028
55          23.371528
Number of high lipase cases: 2299
Number of unique patients with high lipase levels: 2104

In [46]:
# Display results
print(high_lipase_df.head())
print(f"Number of high lipase cases: {high_lipase_df.shape[0]}")
print(f"Number of unique patients with high lipase levels: {high_lipase_df['subject_id'].nunique()}")

       subject_id   hadm_id           charttime  lipase_level  \
1        10004606  29242151 2159-02-20 18:30:00        1222.0
17547    10006431  24638489 2129-01-23 23:36:00         508.0
15       10017531  22580355 2159-09-22 20:56:00        1164.0
17804    10021357  25937617 2144-12-30 06:55:00        1249.0
55       10036086  28728587 2196-05-26 09:25:00         677.0

                admittime           dischtime gender  \
1     2159-02-20 13:43:00 2159-03-06 16:51:00      F
17547 2129-01-24 01:08:00 2129-01-30 16:50:00      F
15    2159-09-22 19:30:00 2159-10-24 13:40:00      M
17804 2144-12-27 19:41:00 2145-01-04 19:54:00      F
55    2196-05-20 02:47:00 2196-06-12 11:42:00      M

       approximate_age_at_admission   race  actual_age  in_hospital_death  \
1                                64  WHITE          64              False
17547                            66  WHITE          67              False
15                               63  WHITE          64              False
17804                            91  WHITE          91              False
55                               57  WHITE          58              False

       length_of_stay
1           14.130556
17547        6.654167
15          31.756944
17804        8.009028
55          23.371528
Number of high lipase cases: 2299
Number of unique patients with high lipase levels: 2104

In [47]:
# Generate a CSV file with the high lipase cases
high_lipase_df.to_csv('high_lipase_cases.csv', index=False)

In [48]:
# 3. Get high amylase level patients
# 3. Get high amylase level patients

# Step 1: Retrieve Amylase Item IDs for both hosp and ICU
amylase_item_query_hosp = """
SELECT itemid, label, fluid
FROM `physionet-data.mimiciv_hosp.d_labitems`
WHERE LOWER(label) LIKE '%amylase%'
"""
amylase_items_df_hosp = run_query(amylase_item_query_hosp)
print("Amylase Items in hosp:")
print(amylase_items_df_hosp)

amylase_item_query_icu = """
SELECT itemid, label, category
FROM `physionet-data.mimiciv_icu.d_items`
WHERE LOWER(label) LIKE '%amylase%'
"""
amylase_items_df_icu = run_query(amylase_item_query_icu)
print("Amylase Items in icu:")
print(amylase_items_df_icu)

# Identified Amylase item IDs for both hosp and ICU
amylase_itemids = [50867, 53087, 51964, 220581]

# Step 2: Retrieve Amylase Values from hosp
amylase_values_query_hosp = f"""
SELECT subject_id, hadm_id, charttime, valuenum AS amylase_level
FROM `physionet-data.mimiciv_hosp.labevents`
WHERE itemid IN ({', '.join(map(str, amylase_itemids))})
ORDER BY subject_id, charttime
"""
amylase_values_df_hosp = run_query(amylase_values_query_hosp)

# Step 3: Retrieve Amylase Values from ICU
amylase_values_query_icu = f"""
SELECT subject_id, hadm_id, charttime, valuenum AS amylase_level
FROM `physionet-data.mimiciv_icu.chartevents`
WHERE itemid IN ({', '.join(map(str, amylase_itemids))})
ORDER BY subject_id, charttime
"""
amylase_values_df_icu = run_query(amylase_values_query_icu)

# Step 4: Concatenate ICU and hosp data
amylase_values_df = pd.concat([amylase_values_df_hosp, amylase_values_df_icu], ignore_index=True)

# Step 5: Filter to include only records with amylase levels > 1000
amylase_critical_df = amylase_values_df[amylase_values_df['amylase_level'] > 1000]

# Step 6: Sort and retain the earliest record for each subject_id and hadm_id
amylase_critical_df = amylase_critical_df.sort_values(by=['subject_id', 'hadm_id', 'charttime']).drop_duplicates(
    subset=['subject_id', 'hadm_id'], keep='first'
)

# Count number of unique patients with high amylase levels
num_patients = amylase_critical_df['subject_id'].nunique()
print(amylase_critical_df.head())
print(f"Number of high amylase cases: {amylase_critical_df.shape[0]}")
print(f"Number of unique patients with high amylase levels: {num_patients}")

# Step 7: Inner join high Amylase level records with high Lipase level records
hl_ha_df = pd.merge(
    high_lipase_df.copy(),
    amylase_critical_df[['subject_id', 'hadm_id', 'amylase_level']],
    on=['subject_id', 'hadm_id'],
    how='outer',
    suffixes=('_lipase', '_amylase')
)

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

Amylase Items in hosp:
    itemid                            label                fluid
0    50867                          Amylase                Blood
1    53087                          Amylase                Blood
2    51930                   Amylase, Stool                Stool
3    51072                   Amylase, Urine                Urine
4    51073  Amylase/Creatinine Ratio, Urine                Urine
5    51963     Amylase/Creatinine Clearance                Urine
6    51964                   Amylase, Serum                Urine
7    51999                    Urine Amylase                Urine
8    50836                 Amylase, Ascites              Ascites
9    51047                 Amylase, Pleural              Pleural
10   51020             Amylase, Joint Fluid          Joint Fluid
11   51026              Amylase, Body Fluid     Other Body Fluid
12   51780                     Amylase, CSF  Cerebrospinal Fluid

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

Amylase Items in icu:
   itemid    label category
0  220581  Amylase     Labs

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

      subject_id   hadm_id           charttime  amylase_level
767     10112484      <NA> 2124-05-30 07:10:00         2173.0
1087    10149959  24022109 2144-11-28 09:15:00         1056.0
1094    10150465      <NA> 2153-08-23 12:36:00         1601.0
1560    10219697      <NA> 2114-09-17 11:29:00         2219.0
1852    10246974  22572693 2127-10-20 06:50:00         1005.0
Number of high amylase cases: 332
Number of unique patients with high amylase levels: 303

In [49]:
# Display the combined dataset
print(hl_ha_df.head())
print(f"Number of rows in the combined dataset with high lipase or high amylase levels: {hl_ha_df.shape[0]}")
print(f"Number of unique patients in the combined dataset with high lipase or high amylase levels: {hl_ha_df['subject_id'].nunique()}")

   subject_id   hadm_id           charttime  lipase_level           admittime  \
0    10004606  29242151 2159-02-20 18:30:00        1222.0 2159-02-20 13:43:00
1    10006431  24638489 2129-01-23 23:36:00         508.0 2129-01-24 01:08:00
2    10017531  22580355 2159-09-22 20:56:00        1164.0 2159-09-22 19:30:00
3    10021357  25937617 2144-12-30 06:55:00        1249.0 2144-12-27 19:41:00
4    10036086  28728587 2196-05-26 09:25:00         677.0 2196-05-20 02:47:00

            dischtime gender  approximate_age_at_admission   race  actual_age  \
0 2159-03-06 16:51:00      F                            64  WHITE          64
1 2129-01-30 16:50:00      F                            66  WHITE          67
2 2159-10-24 13:40:00      M                            63  WHITE          64
3 2145-01-04 19:54:00      F                            91  WHITE          91
4 2196-06-12 11:42:00      M                            57  WHITE          58

   in_hospital_death  length_of_stay  amylase_level
0              False       14.130556            NaN
1              False        6.654167            NaN
2              False       31.756944            NaN
3              False        8.009028            NaN
4              False       23.371528            NaN
Number of rows in the combined dataset with high lipase or high amylase levels: 2423
Number of unique patients in the combined dataset with high lipase or high amylase levels: 2173

In [50]:
# 4. Get high CRP level patients
# Step 1: Retrieve CRP Item IDs for both hosp and ICU
crp_item_query_hosp = """
SELECT itemid, label, fluid
FROM `physionet-data.mimiciv_hosp.d_labitems`
WHERE LOWER(label) LIKE '%c-reactive%' or LOWER(label) LIKE '%protein%'
"""
crp_items_df_hosp = run_query(crp_item_query_hosp)
print("CRP Items in hosp:")
print(crp_items_df_hosp)

crp_item_query_icu = """
SELECT itemid, label, category
FROM `physionet-data.mimiciv_icu.d_items`
WHERE LOWER(label) LIKE '%c-reactive%' or LOWER(label) LIKE '%protein%'
"""
crp_items_df_icu = run_query(crp_item_query_icu)
print("CRP Items in icu:")
print(crp_items_df_icu)

crp_itemid_hosp = "50889"
crp_itemid_icu = "51006"

# Step 2: Retrieve CRP values from hosp
crp_values_query_hosp = f"""
SELECT subject_id, hadm_id, charttime, valuenum AS crp_level
FROM `physionet-data.mimiciv_hosp.labevents`
WHERE itemid IN ({crp_itemid_hosp})
ORDER BY subject_id, charttime
"""
crp_values_df_hosp = run_query(crp_values_query_hosp)

# Step 3: Retrieve CRP values from icu
crp_values_query_icu = f"""
SELECT subject_id, hadm_id, charttime, valuenum AS crp_level
FROM `physionet-data.mimiciv_icu.chartevents`
WHERE itemid IN ({crp_itemid_icu})
ORDER BY subject_id, charttime
"""
crp_values_df_icu = run_query(crp_values_query_icu)

# Step 4: Concatenate ICU and hosp data and filter for first 48 hours after admission
crp_values_df = pd.concat([crp_values_df_hosp, crp_values_df_icu], ignore_index=True)
crp_values_df = pd.merge(crp_values_df, patient_info_df[['subject_id', 'hadm_id', 'admittime']], on=['subject_id', 'hadm_id'])

# Convert timestamps
crp_values_df['charttime'] = pd.to_datetime(crp_values_df['charttime'])
crp_values_df['admittime'] = pd.to_datetime(crp_values_df['admittime'])

# Filter for entries within the first 48 hours after admission
crp_values_df = crp_values_df[(crp_values_df['charttime'] - crp_values_df['admittime']).dt.total_seconds() / (60 * 60) <= 48]

# Group by subject_id and hadm_id, and take the maximum CRP level within 48 hours
crp_values_df = crp_values_df.groupby(['subject_id', 'hadm_id']).agg(
    crp_level=('crp_level', 'max')
).reset_index()

# Now `crp_values_df` has the maximum CRP levels within the first 48 hours for each patient-admission
# Step 6: Filter records with CRP > 150 mg/dL (optional, since you may already have this filter)
crp_critical_df = crp_values_df[crp_values_df['crp_level'] > 150]

# Count the number of unique patients with high CRP levels
num_patients = crp_critical_df['subject_id'].nunique()
print(f"Number of unique patients with high CRP levels within 48 hrs: {num_patients}")

# Outer join CRP critical data with the existing combined dataset
hl_ha_hc_df = pd.merge(
    hl_ha_df.copy(),
    crp_critical_df[['subject_id', 'hadm_id', 'crp_level']],
    on=['subject_id', 'hadm_id'],
    how='outer',
    suffixes=('', '_crp')
)

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

CRP Items in hosp:
    itemid                       label                fluid
0    50864           Alpha-Fetoprotein                Blood
1    50889          C-Reactive Protein                Blood
2    50975     Protein Electrophoresis                Blood
3    50976              Protein, Total                Blood
4    53096              Protein, Total                Blood
5    51949        Total Protein, Stool                Stool
6    51068               24 hr Protein                Urine
7    51099    Protein/Creatinine Ratio                Urine
8    51102        Total Protein, Urine                Urine
9    51992                     Protein                Urine
10   50849      Total Protein, Ascites              Ascites
11   51059      Total Protein, Pleural              Pleural
12   51024  Total Protein, Joint Fluid          Joint Fluid
13   51043   Total Protein, Body Fluid     Other Body Fluid
14   51802          Total Protein, CSF  Cerebrospinal Fluid
15   51270          Protein C, Antigen                Blood
16   51271       Protein C, Functional                Blood
17   51272          Protein S, Antigen                Blood
18   51273       Protein S, Functional                Blood
19   52162                   Protein S                Blood
20   51492                     Protein                Urine

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

CRP Items in icu:
   itemid                       label                 category
0  229583                Beneprotein.  Nutrition - Supplements
1  220454                     Protein              Ingredients
2  220612   ZC Reactive Protein (CRP)                     Labs
3  220650               Total Protein                     Labs
4  227444    C Reactive Protein (CRP)                     Labs
5  226184  Estimated Protein Needs/Kg                  General
6  225970                 Beneprotein      Nutrition - Enteral
7  229296   Vital High Protein (Full)      Nutrition - Enteral

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

Number of unique patients with high CRP levels within 48 hrs: 1830

/var/folders/5w/c5jgggvd3f52shk667p25scc0000gn/T/ipykernel_54451/155219287.py:43: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  crp_values_df = pd.concat([crp_values_df_hosp, crp_values_df_icu], ignore_index=True)

In [51]:
hl_ha_hc_df.set_index(['subject_id', 'hadm_id'], inplace=True)
hl_ha_hc_df.update(patient_info_df.set_index(['subject_id', 'hadm_id']))
hl_ha_hc_df.reset_index(inplace=True)

In [52]:
# Display the combined dataset
print(hl_ha_hc_df.head())
print(f"Number of rows in the combined dataset with high lipase or high amylase or high CRP levels: {hl_ha_hc_df.shape[0]}")
print(f"Number of unique patients in the combined dataset with high lipase or high amylase or high CRP levels: {hl_ha_hc_df['subject_id'].nunique()}")

   subject_id   hadm_id           charttime  lipase_level           admittime  \
0    10002976  27179825                 NaT           NaN 2145-02-28 19:44:00
1    10003400  23559586                 NaT           NaN 2137-08-04 00:07:00
2    10004606  29242151 2159-02-20 18:30:00        1222.0 2159-02-20 13:43:00
3    10006431  24638489 2129-01-23 23:36:00         508.0 2129-01-24 01:08:00
4    10006513  29846618                 NaT           NaN 2127-03-27 14:52:00

            dischtime gender  approximate_age_at_admission  \
0 2145-03-05 16:45:00      M                            70
1 2137-09-02 17:05:00      F                            72
2 2159-03-06 16:51:00      F                            64
3 2129-01-30 16:50:00      F                            66
4 2127-03-28 15:20:00      M                            42

                     race  actual_age  in_hospital_death  length_of_stay  \
0                   WHITE          71              False        4.875694
1  BLACK/AFRICAN AMERICAN          75               True       29.706944
2                   WHITE          64              False       14.130556
3                   WHITE          67              False        6.654167
4                   OTHER          51              False        1.019444

   amylase_level  crp_level
0            NaN      243.8
1            NaN      156.2
2            NaN        NaN
3            NaN        NaN
4            NaN      253.0
Number of rows in the combined dataset with high lipase or high amylase or high CRP levels: 4357
Number of unique patients in the combined dataset with high lipase or high amylase or high CRP levels: 3955

In [53]:
# Filter the dataset to include only rows where all three levels are not NaN
non_nan_levels_df = hl_ha_hc_df.dropna(subset=['crp_level', 'lipase_level', 'amylase_level'])

# Count the number of unique patients with all three levels present
num_patients_with_all_levels = non_nan_levels_df['subject_id'].nunique()
print(f"Number of unique patients with all three levels present: {num_patients_with_all_levels}")

# Count the number of rows with all three levels present
num_rows_with_all_levels = non_nan_levels_df.shape[0]
print(f"Number of rows with all three levels present: {num_rows_with_all_levels}")

Number of unique patients with all three levels present: 1
Number of rows with all three levels present: 1

In [54]:
# 5. Get AP ICD Info
# Step 1: Retrieve records with AP diagnosis based on ICD codes
ap_icd_query = f"""
SELECT subject_id, hadm_id, icd_code, seq_num 
FROM `physionet-data.mimiciv_hosp.diagnoses_icd`
WHERE icd_code LIKE 'K85%' OR icd_code = '5770'
ORDER BY subject_id, seq_num
"""
ap_icd_df = run_query(ap_icd_query)

# Keep only the first record for each patient
ap_icd_df = ap_icd_df.drop_duplicates(subset=['subject_id', 'hadm_id'], keep='first')

# Step 2: Merge AP diagnosis info with the existing combined dataset
combined_df_with_ap = pd.merge(
    hl_ha_hc_df.copy(),
    ap_icd_df[['subject_id', 'hadm_id', 'icd_code']],
    on=['subject_id', 'hadm_id'],
    how='left'
)

# Step 3: Label records with AP confirmation
combined_df_with_ap['is_confirmed_ap'] = combined_df_with_ap['icd_code'].notna()

# Display the resulting dataset
print(combined_df_with_ap.head())

# Count unique patients confirmed with AP
num_confirmed_ap_patients = combined_df_with_ap[combined_df_with_ap['is_confirmed_ap'] == True]['subject_id'].nunique()
print(f"Number of unique patients with high levels who are confirmed with AP: {num_confirmed_ap_patients}")

# Total number of rows in the combined dataset with AP confirmation
num_rows = combined_df_with_ap.shape[0]
print(f"Number of rows in the combined dataset with AP confirmation: {num_rows}")

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   subject_id   hadm_id           charttime  lipase_level           admittime  \
0    10002976  27179825                 NaT           NaN 2145-02-28 19:44:00
1    10003400  23559586                 NaT           NaN 2137-08-04 00:07:00
2    10004606  29242151 2159-02-20 18:30:00        1222.0 2159-02-20 13:43:00
3    10006431  24638489 2129-01-23 23:36:00         508.0 2129-01-24 01:08:00
4    10006513  29846618                 NaT           NaN 2127-03-27 14:52:00

            dischtime gender  approximate_age_at_admission  \
0 2145-03-05 16:45:00      M                            70
1 2137-09-02 17:05:00      F                            72
2 2159-03-06 16:51:00      F                            64
3 2129-01-30 16:50:00      F                            66
4 2127-03-28 15:20:00      M                            42

                     race  actual_age  in_hospital_death  length_of_stay  \
0                   WHITE          71              False        4.875694
1  BLACK/AFRICAN AMERICAN          75               True       29.706944
2                   WHITE          64              False       14.130556
3                   WHITE          67              False        6.654167
4                   OTHER          51              False        1.019444

   amylase_level  crp_level icd_code  is_confirmed_ap
0            NaN      243.8      NaN            False
1            NaN      156.2      NaN            False
2            NaN        NaN    K8510             True
3            NaN        NaN    K8580             True
4            NaN      253.0      NaN            False
Number of unique patients with high levels who are confirmed with AP: 1375
Number of rows in the combined dataset with AP confirmation: 4357

In [55]:
# 6. Get Weight Info
# Step 1: Retrieve weight data for ICU patients (only admit and daily weight)
weight_query = """
SELECT
    subject_id, hadm_id, stay_id, charttime,
    CASE WHEN itemid = 226512 THEN 'admit' ELSE 'daily' END AS weight_type,
    valuenum AS weight
FROM `physionet-data.mimiciv_icu.chartevents`
WHERE valuenum IS NOT NULL
  AND itemid IN (226512, 224639)  -- Admit Weight and Daily Weight
  AND valuenum > 0
ORDER BY subject_id, charttime
"""

# Step 2: Run the query to retrieve weight data
weight_df = run_query(weight_query)

# Step 3: Calculate the average weight per patient (admit and daily weights)
# Group by patient identifiers and calculate the mean weight
average_weight_df = weight_df.groupby(['subject_id', 'hadm_id']).agg(
    average_weight=('weight', 'mean')
).reset_index()

# Step 4: Merge the average weight data with the main combined dataset
combined_df_with_avg_weight = pd.merge(
    combined_df_with_ap.copy(),
    average_weight_df[['subject_id', 'hadm_id', 'average_weight']],
    on=['subject_id', 'hadm_id'],
    how='left'
)

# Display the resulting DataFrame
print(combined_df_with_avg_weight.head())
print(f"Number of rows with average weight data: {combined_df_with_avg_weight.shape[0]}")

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   subject_id   hadm_id           charttime  lipase_level           admittime  \
0    10002976  27179825                 NaT           NaN 2145-02-28 19:44:00
1    10003400  23559586                 NaT           NaN 2137-08-04 00:07:00
2    10004606  29242151 2159-02-20 18:30:00        1222.0 2159-02-20 13:43:00
3    10006431  24638489 2129-01-23 23:36:00         508.0 2129-01-24 01:08:00
4    10006513  29846618                 NaT           NaN 2127-03-27 14:52:00

            dischtime gender  approximate_age_at_admission  \
0 2145-03-05 16:45:00      M                            70
1 2137-09-02 17:05:00      F                            72
2 2159-03-06 16:51:00      F                            64
3 2129-01-30 16:50:00      F                            66
4 2127-03-28 15:20:00      M                            42

                     race  actual_age  in_hospital_death  length_of_stay  \
0                   WHITE          71              False        4.875694
1  BLACK/AFRICAN AMERICAN          75               True       29.706944
2                   WHITE          64              False       14.130556
3                   WHITE          67              False        6.654167
4                   OTHER          51              False        1.019444

   amylase_level  crp_level icd_code  is_confirmed_ap  average_weight
0            NaN      243.8      NaN            False             NaN
1            NaN      156.2      NaN            False      104.366667
2            NaN        NaN    K8510             True       56.300000
3            NaN        NaN    K8580             True             NaN
4            NaN      253.0      NaN            False             NaN
Number of rows with average weight data: 4357

In [56]:
# 7. Get CCI Info
# Step 1: Query for Charlson Comorbidity Index (CCI) based on ICD codes
cci_query = """
WITH diag AS (
    SELECT 
        hadm_id,
        CASE WHEN icd_version = 9 THEN icd_code ELSE NULL END AS icd9_code,
        CASE WHEN icd_version = 10 THEN icd_code ELSE NULL END AS icd10_code
    FROM `physionet-data.mimiciv_hosp.diagnoses_icd`
),
com AS (
    SELECT ad.hadm_id,
        -- Myocardial infarction
        MAX(CASE WHEN SUBSTR(icd9_code, 1, 3) IN ('410','412') OR SUBSTR(icd10_code, 1, 3) IN ('I21','I22') OR SUBSTR(icd10_code, 1, 4) = 'I252' THEN 1 ELSE 0 END) AS myocardial_infarct,
        -- Congestive heart failure
        MAX(CASE WHEN SUBSTR(icd9_code, 1, 3) = '428' OR SUBSTR(icd9_code, 1, 5) IN ('39891','40201','40211','40291','40401','40403','40411','40413','40491','40493') OR SUBSTR(icd9_code, 1, 4) BETWEEN '4254' AND '4259' OR SUBSTR(icd10_code, 1, 3) IN ('I43','I50') OR SUBSTR(icd10_code, 1, 4) IN ('I099','I110','I130','I132','I255','I420','I425','I426','I427','I428','I429','P290') THEN 1 ELSE 0 END) AS congestive_heart_failure,
        -- Peripheral vascular disease
        MAX(CASE WHEN SUBSTR(icd9_code, 1, 3) IN ('440','441') OR SUBSTR(icd9_code, 1, 4) IN ('0930','4373','4471','5571','5579','V434') OR SUBSTR(icd9_code, 1, 4) BETWEEN '4431' AND '4439' OR SUBSTR(icd10_code, 1, 3) IN ('I70','I71') OR SUBSTR(icd10_code, 1, 4) IN ('I731','I738','I739','I771','I790','I792','K551','K558','K559','Z958','Z959') THEN 1 ELSE 0 END) AS peripheral_vascular_disease,
        -- Additional comorbidity definitions (Cerebrovascular disease, Dementia, Chronic pulmonary disease, etc.)
        -- Add other conditions following similar MAX/CASE structure as above for each comorbidity
    FROM `physionet-data.mimiciv_hosp.admissions` ad
    LEFT JOIN diag ON ad.hadm_id = diag.hadm_id
    GROUP BY ad.hadm_id
),
ag AS (
    SELECT 
        hadm_id,
        age,
        CASE WHEN age <= 40 THEN 0 WHEN age <= 50 THEN 1 WHEN age <= 60 THEN 2 WHEN age <= 70 THEN 3 ELSE 4 END AS age_score
    FROM `physionet-data.mimiciv_derived.age`
)
SELECT 
    ad.subject_id,
    ad.hadm_id,
    ag.age_score,
    myocardial_infarct,
    congestive_heart_failure,
    peripheral_vascular_disease,
    -- Include all other comorbidities fields here...
    age_score + myocardial_infarct + congestive_heart_failure + peripheral_vascular_disease
    -- + add all the weighted conditions here as in your full CCI calculation
    AS charlson_comorbidity_index
FROM `physionet-data.mimiciv_hosp.admissions` ad
LEFT JOIN com ON ad.hadm_id = com.hadm_id
LEFT JOIN ag ON com.hadm_id = ag.hadm_id
"""

# Step 2: Run the query to get CCI data
cci_df = run_query(cci_query)

# Step 3: Merge CCI data with the main dataset based on `subject_id` and `hadm_id`
combined_df_with_ap = pd.merge(
    combined_df_with_avg_weight.copy(),
    cci_df[['subject_id', 'hadm_id', 'charlson_comorbidity_index']],
    on=['subject_id', 'hadm_id'],
    how='left'
)

# Step 4: Display the final combined dataset with CCI information
print(combined_df_with_ap.head())
print(f"Number of rows in the combined dataset with CCI: {combined_df_with_ap.shape[0]}")

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   subject_id   hadm_id           charttime  lipase_level           admittime  \
0    10002976  27179825                 NaT           NaN 2145-02-28 19:44:00
1    10003400  23559586                 NaT           NaN 2137-08-04 00:07:00
2    10004606  29242151 2159-02-20 18:30:00        1222.0 2159-02-20 13:43:00
3    10006431  24638489 2129-01-23 23:36:00         508.0 2129-01-24 01:08:00
4    10006513  29846618                 NaT           NaN 2127-03-27 14:52:00

            dischtime gender  approximate_age_at_admission  \
0 2145-03-05 16:45:00      M                            70
1 2137-09-02 17:05:00      F                            72
2 2159-03-06 16:51:00      F                            64
3 2129-01-30 16:50:00      F                            66
4 2127-03-28 15:20:00      M                            42

                     race  actual_age  in_hospital_death  length_of_stay  \
0                   WHITE          71              False        4.875694
1  BLACK/AFRICAN AMERICAN          75               True       29.706944
2                   WHITE          64              False       14.130556
3                   WHITE          67              False        6.654167
4                   OTHER          51              False        1.019444

   amylase_level  crp_level icd_code  is_confirmed_ap  average_weight  \
0            NaN      243.8      NaN            False             NaN
1            NaN      156.2      NaN            False      104.366667
2            NaN        NaN    K8510             True       56.300000
3            NaN        NaN    K8580             True             NaN
4            NaN      253.0      NaN            False             NaN

   charlson_comorbidity_index
0                           5
1                           5
2                           4
3                           3
4                           2
Number of rows in the combined dataset with CCI: 4357

In [57]:
# 8. Get Height info
# 1. Get height data for ICU patients (in both inches and centimeters)
height_query = """
WITH ht_in AS (
  SELECT 
    c.subject_id, c.hadm_id, c.stay_id, c.charttime,
    -- Convert height from inches to centimeters
    ROUND(c.valuenum * 2.54, 2) AS height
  FROM `physionet-data.mimiciv_icu.chartevents` c
  WHERE c.valuenum IS NOT NULL
    AND c.itemid = 226707  -- Height in inches
),
ht_cm AS (
  SELECT 
    c.subject_id, c.hadm_id, c.stay_id, c.charttime,
    ROUND(c.valuenum, 2) AS height
  FROM `physionet-data.mimiciv_icu.chartevents` c
  WHERE c.valuenum IS NOT NULL
    AND c.itemid = 226730  -- Height in centimeters
),
-- Merge heights from both inches and centimeters, taking one per charted row
ht_stg0 AS (
  SELECT
    COALESCE(h1.subject_id, h2.subject_id) AS subject_id,
    COALESCE(h1.hadm_id, h2.hadm_id) AS hadm_id,
    COALESCE(h1.stay_id, h2.stay_id) AS stay_id,
    COALESCE(h1.charttime, h2.charttime) AS charttime,
    COALESCE(h1.height, h2.height) AS height
  FROM ht_cm h1
  FULL OUTER JOIN ht_in h2
    ON h1.subject_id = h2.subject_id
    AND h1.hadm_id = h2.hadm_id
    AND h1.charttime = h2.charttime
)
SELECT subject_id, hadm_id, stay_id, charttime, height
FROM ht_stg0
WHERE height IS NOT NULL
  AND height BETWEEN 120 AND 230  -- Filter out unrealistic heights
ORDER BY subject_id, charttime
"""

# Step 2: Run the query to retrieve height data
height_df = run_query(height_query)

# Step 3: Calculate the average height per patient
# Group by patient identifiers and calculate the mean height
average_height_df = height_df.groupby(['subject_id', 'hadm_id']).agg(
    average_height=('height', 'mean')
).reset_index()

# Step 4: Merge the average height data with the main combined dataset
combined_df_with_avg_height = pd.merge(
    combined_df_with_ap.copy(),
    average_height_df[['subject_id', 'hadm_id', 'average_height']],
    on=['subject_id', 'hadm_id'],
    how='left'
)

# Display the resulting DataFrame
print(combined_df_with_avg_height.head())
print(f"Number of rows with average height data: {combined_df_with_avg_height.shape[0]}")

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   subject_id   hadm_id           charttime  lipase_level           admittime  \
0    10002976  27179825                 NaT           NaN 2145-02-28 19:44:00
1    10003400  23559586                 NaT           NaN 2137-08-04 00:07:00
2    10004606  29242151 2159-02-20 18:30:00        1222.0 2159-02-20 13:43:00
3    10006431  24638489 2129-01-23 23:36:00         508.0 2129-01-24 01:08:00
4    10006513  29846618                 NaT           NaN 2127-03-27 14:52:00

            dischtime gender  approximate_age_at_admission  \
0 2145-03-05 16:45:00      M                            70
1 2137-09-02 17:05:00      F                            72
2 2159-03-06 16:51:00      F                            64
3 2129-01-30 16:50:00      F                            66
4 2127-03-28 15:20:00      M                            42

                     race  actual_age  in_hospital_death  length_of_stay  \
0                   WHITE          71              False        4.875694
1  BLACK/AFRICAN AMERICAN          75               True       29.706944
2                   WHITE          64              False       14.130556
3                   WHITE          67              False        6.654167
4                   OTHER          51              False        1.019444

   amylase_level  crp_level icd_code  is_confirmed_ap  average_weight  \
0            NaN      243.8      NaN            False             NaN
1            NaN      156.2      NaN            False      104.366667
2            NaN        NaN    K8510             True       56.300000
3            NaN        NaN    K8580             True             NaN
4            NaN      253.0      NaN            False             NaN

   charlson_comorbidity_index  average_height
0                           5             NaN
1                           5           165.0
2                           4           163.0
3                           3             NaN
4                           2             NaN
Number of rows with average height data: 4357

In [ ]:
# # 8. Get vital signs info
# # Step 1: Get the list of unique subject_id and hadm_id
# subject_ids = combined_df_with_ap['subject_id'].dropna().unique().tolist()
# hadm_ids = combined_df_with_ap['hadm_id'].dropna().unique().tolist()

# # Step 2: Define the time limit for the first 24 hours
# time_limit = 24 * 60 * 60  # 24 hours in seconds

# # Step 3: Modify each query to select only the first record within 24 hours of admission

# # 1.1 Respiratory Rate (RR)
# icu_respiratory_rate_query = f"""
# SELECT icu.subject_id, icu.hadm_id, icu.charttime, icu.itemid, icu.valuenum AS respiratory_rate,
# FROM `physionet-data.mimiciv_icu.chartevents` icu
# JOIN `physionet-data.mimiciv_hosp.admissions` adm
# ON icu.subject_id = adm.subject_id AND icu.hadm_id = adm.hadm_id
# WHERE icu.itemid = 220210
# AND TIMESTAMP_DIFF(icu.charttime, adm.admittime, SECOND) <= {time_limit}
# AND icu.subject_id IN ({', '.join(map(str, subject_ids))})
# AND icu.hadm_id IN ({', '.join(map(str, hadm_ids))})
# ORDER BY icu.subject_id, icu.hadm_id, icu.charttime
# """
# icu_respiratory_rate_df = run_query(icu_respiratory_rate_query)
# icu_respiratory_rate_df = icu_respiratory_rate_df.drop_duplicates(subset=['subject_id', 'hadm_id'], keep='first')
# print(icu_respiratory_rate_df)

# # 1.2 Heart Rate (HR)
# icu_heart_rate_query = f"""
# SELECT icu.subject_id, icu.hadm_id, icu.charttime, icu.itemid, icu.valuenum AS heart_rate
# FROM `physionet-data.mimiciv_icu.chartevents` icu
# JOIN `physionet-data.mimiciv_hosp.admissions` adm
# ON icu.subject_id = adm.subject_id AND icu.hadm_id = adm.hadm_id
# WHERE icu.itemid = 220045
# AND TIMESTAMP_DIFF(icu.charttime, adm.admittime, SECOND) <= {time_limit}
# AND icu.subject_id IN ({', '.join(map(str, subject_ids))})
# AND icu.hadm_id IN ({', '.join(map(str, hadm_ids))})
# ORDER BY icu.subject_id, icu.hadm_id, icu.charttime
# """
# icu_heart_rate_df = run_query(icu_heart_rate_query)
# icu_heart_rate_df = icu_heart_rate_df.drop_duplicates(subset=['subject_id', 'hadm_id'], keep='first')
# print(icu_heart_rate_df)

# # 1.3 Oxygen Saturation (OS)
# hosp_oxygen_saturation_query = f"""
# SELECT hosp.subject_id, hosp.hadm_id, hosp.charttime, hosp.itemid, hosp.valuenum AS oxygen_saturation
# FROM `physionet-data.mimiciv_hosp.labevents` hosp
# JOIN `physionet-data.mimiciv_hosp.admissions` adm
# ON hosp.subject_id = adm.subject_id AND hosp.hadm_id = adm.hadm_id
# WHERE hosp.itemid = 50817
# AND TIMESTAMP_DIFF(hosp.charttime, adm.admittime, SECOND) <= {time_limit}
# AND hosp.subject_id IN ({', '.join(map(str, subject_ids))})
# AND hosp.hadm_id IN ({', '.join(map(str, hadm_ids))})
# ORDER BY hosp.subject_id, hosp.hadm_id, hosp.charttime
# """
# hosp_oxygen_saturation_df = run_query(hosp_oxygen_saturation_query)
# hosp_oxygen_saturation_df = hosp_oxygen_saturation_df.drop_duplicates(subset=['subject_id', 'hadm_id'], keep='first')
# print(hosp_oxygen_saturation_df)

# # 1.4 Temperature
# hosp_temperature_query = f"""
# SELECT hosp.subject_id, hosp.hadm_id, hosp.charttime, hosp.itemid, hosp.valuenum AS temperature
# FROM `physionet-data.mimiciv_hosp.labevents` hosp
# JOIN `physionet-data.mimiciv_hosp.admissions` adm
# ON hosp.subject_id = adm.subject_id AND hosp.hadm_id = adm.hadm_id
# WHERE hosp.itemid = 50825
# AND TIMESTAMP_DIFF(hosp.charttime, adm.admittime, SECOND) <= {time_limit}
# AND hosp.subject_id IN ({', '.join(map(str, subject_ids))})
# AND hosp.hadm_id IN ({', '.join(map(str, hadm_ids))})
# ORDER BY hosp.subject_id, hosp.hadm_id, hosp.charttime
# """
# hosp_temperature_df = run_query(hosp_temperature_query)
# hosp_temperature_df = hosp_temperature_df.drop_duplicates(subset=['subject_id', 'hadm_id'], keep='first')
# print(hosp_temperature_df)

# # Step 4: Merge these results with the main dataset
# combined_df_with_vitals = combined_df_with_ap.copy()
# combined_df_with_vitals = pd.merge(combined_df_with_vitals, icu_respiratory_rate_df[['subject_id', 'hadm_id', 'respiratory_rate']], on=['subject_id', 'hadm_id'], how='left')
# combined_df_with_vitals = pd.merge(combined_df_with_vitals, icu_heart_rate_df[['subject_id', 'hadm_id', 'heart_rate']], on=['subject_id', 'hadm_id'], how='left')
# combined_df_with_vitals = pd.merge(combined_df_with_vitals, hosp_oxygen_saturation_df[['subject_id', 'hadm_id', 'oxygen_saturation']], on=['subject_id', 'hadm_id'], how='left')
# combined_df_with_vitals = pd.merge(combined_df_with_vitals, hosp_temperature_df[['subject_id', 'hadm_id', 'temperature']], on=['subject_id', 'hadm_id'], how='left')

# # Display the final combined dataset
# print(combined_df_with_vitals.head())
# print(f"Number of rows in the combined dataset with vital signs: {combined_df_with_vitals.shape[0]}")

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

       subject_id   hadm_id           charttime  itemid  respiratory_rate
0        10004606  29242151 2159-02-20 18:19:00  220210              15.0
20       10011668  22181970 2131-06-14 17:17:00  220210              19.0
44       10015860  25085565 2186-09-15 18:00:00  220210              20.0
61       10017531  22580355 2159-09-22 19:35:00  220210              26.0
87       10049833  20762302 2168-05-24 16:44:00  220210              16.0
...           ...       ...                 ...     ...               ...
19991    19929625  29789943 2153-06-19 21:59:00  220210              18.0
20039    19934880  20689670 2166-11-23 11:39:00  220210              15.0
20062    19962418  25331514 2132-10-24 21:40:00  220210              16.0
20087    19970491  22119205 2131-02-11 01:43:00  220210              15.0
20108    19970491  25338284 2129-05-17 17:55:00  220210              23.0

[825 rows x 5 columns]

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

       subject_id   hadm_id           charttime  itemid  heart_rate
0        10004606  29242151 2159-02-20 18:19:00  220045       107.0
20       10011668  22181970 2131-06-14 17:17:00  220045       107.0
44       10015860  25085565 2186-09-15 18:00:00  220045       114.0
61       10017531  22580355 2159-09-22 19:35:00  220045       116.0
87       10049833  20762302 2168-05-24 16:44:00  220045       124.0
...           ...       ...                 ...     ...         ...
20255    19929625  29789943 2153-06-19 21:58:00  220045       112.0
20303    19934880  20689670 2166-11-23 11:39:00  220045        84.0
20326    19962418  25331514 2132-10-24 21:40:00  220045       109.0
20351    19970491  22119205 2131-02-11 01:42:00  220045       116.0
20372    19970491  25338284 2129-05-17 17:55:00  220045        69.0

[826 rows x 5 columns]

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

     subject_id   hadm_id           charttime  itemid  oxygen_saturation
0      10017531  22580355 2159-09-23 10:45:00   50817               95.0
1      10057482  25416257 2145-03-23 21:08:00   50817               66.0
11     10153439  22115349 2121-03-11 22:58:00   50817               94.0
14     10163709  29550274 2148-03-23 03:39:00   50817               96.0
16     10199560  24622638 2175-01-11 07:29:00   50817               44.0
..          ...       ...                 ...     ...                ...
635    19811045  27885031 2162-07-08 04:35:00   50817               79.0
637    19859524  27439975 2151-01-30 21:35:00   50817               50.0
638    19882958  29628147 2182-08-29 18:52:00   50817               80.0
639    19904101  23626019 2131-04-22 23:52:00   50817               97.0
640    19962418  25331514 2132-10-25 01:30:00   50817               69.0

[260 rows x 5 columns]

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

     subject_id   hadm_id           charttime  itemid  temperature
0      10064759  25061074 2173-03-22 19:50:00   50825         37.5
1      10153439  22115349 2121-03-11 22:58:00   50825         40.4
3      10157331  26293454 2175-05-31 10:19:00   50825         37.0
7      10163709  29550274 2148-03-22 23:16:00   50825         36.5
9      10199560  24622638 2175-01-11 02:09:00   50825         33.6
..          ...       ...                 ...     ...          ...
559    19734308  27089714 2166-02-28 03:45:00   50825         37.1
560    19776126  20550940 2184-03-19 22:42:00   50825         36.5
562    19811045  27885031 2162-07-07 22:50:00   50825         37.8
567    19873806  23963601 2156-10-07 06:08:00   50825         37.2
568    19962418  25331514 2132-10-24 21:46:00   50825         36.1

[253 rows x 5 columns]
   subject_id   hadm_id    charttime_lipase  lipase_level           admittime  \
0    10002976  27179825                 NaT           NaN 2145-02-28 19:44:00
1    10003400  23559586                 NaT           NaN 2137-08-04 00:07:00
2    10004606  29242151 2159-02-20 18:30:00        1222.0 2159-02-20 13:43:00
3    10006431  24638489 2129-01-23 23:36:00         508.0 2129-01-24 01:08:00
4    10006513  29846618                 NaT           NaN 2127-03-27 14:52:00

            dischtime gender  approximate_age_at_admission  \
0 2145-03-05 16:45:00      M                            70
1 2137-09-02 17:05:00      F                            72
2 2159-03-06 16:51:00      F                            64
3 2129-01-30 16:50:00      F                            66
4 2127-03-28 15:20:00      M                            42

                     race  actual_age  ...           charttime  crp_level  \
0                   WHITE          71  ... 2145-03-01 07:30:00      243.8
1  BLACK/AFRICAN AMERICAN          75  ... 2137-08-05 04:38:00      156.2
2                   WHITE          64  ...                 NaT        NaN
3                   WHITE          67  ...                 NaT        NaN
4                   OTHER          51  ... 2127-03-26 21:15:00      253.0

  icd_code  is_confirmed_ap average_weight  charlson_comorbidity_index  \
0      NaN            False            NaN                           5
1      NaN            False     104.366667                           5
2    K8510             True      56.300000                           4
3    K8580             True            NaN                           3
4      NaN            False            NaN                           2

  respiratory_rate  heart_rate  oxygen_saturation  temperature
0              NaN         NaN                NaN          NaN
1              NaN         NaN                NaN          NaN
2             15.0       107.0                NaN          NaN
3              NaN         NaN                NaN          NaN
4              NaN         NaN                NaN          NaN

[5 rows x 24 columns]
Number of rows in the combined dataset with vital signs: 3722

In [88]:
# 8. Get vital signs info with '_vital' prefix
# Step 1: Retrieve the list of unique subject_id and hadm_id
subject_ids = combined_df_with_ap['subject_id'].dropna().unique().tolist()
hadm_ids = combined_df_with_ap['hadm_id'].dropna().unique().tolist()


# Step 3: Modify the query to retrieve the first vital sign record within 24 hours of admission
vital_signs_query = f"""
SELECT 
    ce.subject_id,
    ce.hadm_id,
    MIN(ce.charttime) AS first_charttime_vital,
    
    -- Average heart rate within the first record in 24 hours
    AVG(CASE WHEN itemid = 220045 AND valuenum > 0 AND valuenum < 300 THEN valuenum ELSE NULL END) AS heart_rate_vital,
    
    -- Average systolic blood pressure (non-invasive and arterial combined)
    AVG(CASE WHEN itemid IN (220179, 220050) AND valuenum > 0 AND valuenum < 400 THEN valuenum ELSE NULL END) AS sbp_vital,
    
    -- Average diastolic blood pressure (non-invasive and arterial combined)
    AVG(CASE WHEN itemid IN (220180, 220051) AND valuenum > 0 AND valuenum < 300 THEN valuenum ELSE NULL END) AS dbp_vital,
    
    -- Mean arterial pressure (non-invasive and arterial combined)
    AVG(CASE WHEN itemid IN (220052, 220181, 225312) AND valuenum > 0 AND valuenum < 300 THEN valuenum ELSE NULL END) AS mbp_vital,
    
    -- Average respiratory rate
    AVG(CASE WHEN itemid IN (220210, 224690) AND valuenum > 0 AND valuenum < 70 THEN valuenum ELSE NULL END) AS resp_rate_vital,
    
    -- Temperature in Celsius
    ROUND(
        AVG(
            CASE 
                WHEN itemid = 223761 AND valuenum > 70 AND valuenum < 120 THEN (valuenum - 32) / 1.8 -- Convert Fahrenheit to Celsius
                WHEN itemid = 223762 AND valuenum > 10 AND valuenum < 50 THEN valuenum
                ELSE NULL 
            END
        ), 2) AS temperature_c_vital,
    
    -- Average oxygen saturation (SpO2)
    AVG(CASE WHEN itemid = 220277 AND valuenum > 0 AND valuenum <= 100 THEN valuenum ELSE NULL END) AS spo2_vital
FROM `physionet-data.mimiciv_icu.chartevents` AS ce
JOIN `physionet-data.mimiciv_hosp.admissions` AS adm
ON ce.subject_id = adm.subject_id AND ce.hadm_id = adm.hadm_id
WHERE ce.hadm_id IS NOT NULL
AND ce.itemid IN (
    220045,   -- Heart Rate
    220179,   -- Non-Invasive Blood Pressure Systolic
    220180,   -- Non-Invasive Blood Pressure Diastolic
    220181,   -- Non-Invasive Blood Pressure Mean
    220210,   -- Respiratory Rate
    220050,   -- Arterial Blood Pressure Systolic
    220051,   -- Arterial Blood Pressure Diastolic
    220052,   -- Arterial Blood Pressure Mean
    224690,   -- Respiratory Rate (Total)
    220277,   -- SpO2, peripheral
    223762,   -- Temperature in Celsius
    223761    -- Temperature in Fahrenheit
)
AND ce.subject_id IN ({', '.join(map(str, subject_ids))})
AND ce.hadm_id IN ({', '.join(map(str, hadm_ids))})
GROUP BY ce.subject_id, ce.hadm_id
ORDER BY ce.subject_id, ce.hadm_id, first_charttime_vital
"""

# Execute the query
vital_signs_df = run_query(vital_signs_query)

# Merge the vital signs data with the main dataset and add '_vital' prefix
combined_df_with_vitals = pd.merge(
    combined_df_with_avg_height.copy(),
    vital_signs_df,
    on=['subject_id', 'hadm_id'],
    how='left'
)

# Display sample of the combined dataset
print(combined_df_with_vitals.head())
print(f"Number of rows in the combined dataset with vital signs: {combined_df_with_vitals.shape[0]}")

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   subject_id   hadm_id           charttime  lipase_level           admittime  \
0    10002976  27179825                 NaT           NaN 2145-02-28 19:44:00
1    10003400  23559586                 NaT           NaN 2137-08-04 00:07:00
2    10004606  29242151 2159-02-20 18:30:00        1222.0 2159-02-20 13:43:00
3    10006431  24638489 2129-01-23 23:36:00         508.0 2129-01-24 01:08:00
4    10006513  29846618                 NaT           NaN 2127-03-27 14:52:00

            dischtime gender  approximate_age_at_admission  \
0 2145-03-05 16:45:00      M                            70
1 2137-09-02 17:05:00      F                            72
2 2159-03-06 16:51:00      F                            64
3 2129-01-30 16:50:00      F                            66
4 2127-03-28 15:20:00      M                            42

                     race  actual_age  ...  charlson_comorbidity_index  \
0                   WHITE          71  ...                           5
1  BLACK/AFRICAN AMERICAN          75  ...                           5
2                   WHITE          64  ...                           4
3                   WHITE          67  ...                           3
4                   OTHER          51  ...                           2

   average_height  first_charttime_vital  heart_rate_vital   sbp_vital  \
0             NaN                    NaT               NaN         NaN
1           165.0    2137-08-10 19:00:00        103.488323   96.430380
2           163.0    2159-02-20 18:00:00         82.614754  154.286822
3             NaN                    NaT               NaN         NaN
4             NaN                    NaT               NaN         NaN

   dbp_vital  mbp_vital  resp_rate_vital  temperature_c_vital spo2_vital
0        NaN        NaN              NaN                  NaN        NaN
1  57.356540  66.955696        19.505030                36.42  98.287671
2  60.093023  86.558140        15.574627                37.32  95.860656
3        NaN        NaN              NaN                  NaN        NaN
4        NaN        NaN              NaN                  NaN        NaN

[5 rows x 27 columns]
Number of rows in the combined dataset with vital signs: 4357

In [89]:
# 9. Get chemistries info
chemistry_query = f"""
-- Extract chemistry labs for the first measurement after admission
SELECT 
    le.subject_id,
    le.hadm_id,
    MIN(le.charttime) AS first_charttime_chemistry,  -- Record the earliest chart time for each patient
    -- Chemistry measurements with thresholds to exclude outliers
    MAX(CASE WHEN itemid = 50862 AND valuenum <= 10 THEN valuenum ELSE NULL END) AS albumin_chemistry,
    MAX(CASE WHEN itemid = 50930 AND valuenum <= 10 THEN valuenum ELSE NULL END) AS globulin_chemistry,
    MAX(CASE WHEN itemid = 50976 AND valuenum <= 20 THEN valuenum ELSE NULL END) AS total_protein_chemistry,
    MAX(CASE WHEN itemid = 50868 AND valuenum <= 10000 THEN valuenum ELSE NULL END) AS aniongap_chemistry,
    MAX(CASE WHEN itemid = 50882 AND valuenum <= 10000 THEN valuenum ELSE NULL END) AS bicarbonate_chemistry,
    MAX(CASE WHEN itemid = 51006 AND valuenum <= 300 THEN valuenum ELSE NULL END) AS bun_chemistry,
    MAX(CASE WHEN itemid = 50893 AND valuenum <= 10000 THEN valuenum ELSE NULL END) AS calcium_chemistry,
    MAX(CASE WHEN itemid = 50902 AND valuenum <= 10000 THEN valuenum ELSE NULL END) AS chloride_chemistry,
    MAX(CASE WHEN itemid = 50912 AND valuenum <= 150 THEN valuenum ELSE NULL END) AS creatinine_chemistry,
    MAX(CASE WHEN itemid = 50931 AND valuenum <= 10000 THEN valuenum ELSE NULL END) AS glucose_chemistry,
    MAX(CASE WHEN itemid = 50983 AND valuenum <= 200 THEN valuenum ELSE NULL END) AS sodium_chemistry,
    MAX(CASE WHEN itemid = 50971 AND valuenum <= 30 THEN valuenum ELSE NULL END) AS potassium_chemistry
FROM `physionet-data.mimiciv_hosp.labevents` AS le
JOIN `physionet-data.mimiciv_hosp.admissions` AS adm
ON le.subject_id = adm.subject_id AND le.hadm_id = adm.hadm_id
WHERE le.hadm_id IS NOT NULL
AND le.itemid IN (
    50862, -- Albumin
    50930, -- Globulin
    50976, -- Total Protein
    50868, -- Anion Gap
    50882, -- Bicarbonate
    50893, -- Calcium
    50912, -- Creatinine
    50902, -- Chloride
    50931, -- Glucose
    50971, -- Potassium
    50983, -- Sodium
    51006  -- Urea Nitrogen (BUN)
)
AND le.subject_id IN ({', '.join(map(str, subject_ids))})
AND le.hadm_id IN ({', '.join(map(str, hadm_ids))})
GROUP BY le.subject_id, le.hadm_id
ORDER BY le.subject_id, le.hadm_id, first_charttime_chemistry
"""

# Execute the chemistry query
chemistry_df = run_query(chemistry_query)

# Merge the chemistry data with the main dataset containing vital signs and patient info
combined_df_with_chemistry = pd.merge(
    combined_df_with_vitals.copy(),
    chemistry_df,
    on=['subject_id', 'hadm_id'],
    how='left'
)

# Display sample of the combined dataset
print(combined_df_with_chemistry.head())
print(f"Number of rows in the combined dataset with chemistry info: {combined_df_with_chemistry.shape[0]}")

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   subject_id   hadm_id           charttime  lipase_level           admittime  \
0    10002976  27179825                 NaT           NaN 2145-02-28 19:44:00
1    10003400  23559586                 NaT           NaN 2137-08-04 00:07:00
2    10004606  29242151 2159-02-20 18:30:00        1222.0 2159-02-20 13:43:00
3    10006431  24638489 2129-01-23 23:36:00         508.0 2129-01-24 01:08:00
4    10006513  29846618                 NaT           NaN 2127-03-27 14:52:00

            dischtime gender  approximate_age_at_admission  \
0 2145-03-05 16:45:00      M                            70
1 2137-09-02 17:05:00      F                            72
2 2159-03-06 16:51:00      F                            64
3 2129-01-30 16:50:00      F                            66
4 2127-03-28 15:20:00      M                            42

                     race  actual_age  ...  total_protein_chemistry  \
0                   WHITE          71  ...                      NaN
1  BLACK/AFRICAN AMERICAN          75  ...                      5.6
2                   WHITE          64  ...                      NaN
3                   WHITE          67  ...                      NaN
4                   OTHER          51  ...                      NaN

   aniongap_chemistry  bicarbonate_chemistry  bun_chemistry calcium_chemistry  \
0                19.0                   28.0           34.0               8.6
1                23.0                   30.0           41.0               8.8
2                20.0                   28.0           11.0               9.6
3                17.0                   27.0            9.0               9.6
4                17.0                   23.0           32.0               9.7

   chloride_chemistry  creatinine_chemistry  glucose_chemistry  \
0               103.0                   1.6              378.0
1               111.0                   2.3              159.0
2               110.0                   0.9              144.0
3                98.0                   0.5              102.0
4               103.0                   1.8              165.0

   sodium_chemistry potassium_chemistry
0             141.0                 4.8
1             142.0                 6.0
2             143.0                 4.5
3             139.0                 4.6
4             141.0                 5.0

[5 rows x 40 columns]
Number of rows in the combined dataset with chemistry info: 4357

In [90]:
# 10. Get enzymes info
enzyme_query = f"""
-- Extract enzyme labs for the first measurement after admission
SELECT 
    le.subject_id,
    le.hadm_id,
    MIN(le.charttime) AS first_charttime_enzyme,  -- Record the earliest chart time for each patient
    -- Enzyme measurements with thresholds to exclude outliers
    MAX(CASE WHEN itemid = 50861 AND valuenum > 0 THEN valuenum ELSE NULL END) AS alt_enzyme,
    MAX(CASE WHEN itemid = 50863 AND valuenum > 0 THEN valuenum ELSE NULL END) AS alp_enzyme,
    MAX(CASE WHEN itemid = 50878 AND valuenum > 0 THEN valuenum ELSE NULL END) AS ast_enzyme,
    MAX(CASE WHEN itemid = 50867 AND valuenum > 0 THEN valuenum ELSE NULL END) AS amylase_enzyme,
    MAX(CASE WHEN itemid = 50885 AND valuenum > 0 THEN valuenum ELSE NULL END) AS bilirubin_total_enzyme,
    MAX(CASE WHEN itemid = 50883 AND valuenum > 0 THEN valuenum ELSE NULL END) AS bilirubin_direct_enzyme,
    MAX(CASE WHEN itemid = 50884 AND valuenum > 0 THEN valuenum ELSE NULL END) AS bilirubin_indirect_enzyme,
    MAX(CASE WHEN itemid = 50910 AND valuenum > 0 THEN valuenum ELSE NULL END) AS ck_cpk_enzyme,
    MAX(CASE WHEN itemid = 50911 AND valuenum > 0 THEN valuenum ELSE NULL END) AS ck_mb_enzyme,
    MAX(CASE WHEN itemid = 50927 AND valuenum > 0 THEN valuenum ELSE NULL END) AS ggt_enzyme,
    MAX(CASE WHEN itemid = 50954 AND valuenum > 0 THEN valuenum ELSE NULL END) AS ld_ldh_enzyme
FROM `physionet-data.mimiciv_hosp.labevents` AS le
JOIN `physionet-data.mimiciv_hosp.admissions` AS adm
ON le.subject_id = adm.subject_id AND le.hadm_id = adm.hadm_id
WHERE le.hadm_id IS NOT NULL
AND le.itemid IN (
    50861, -- Alanine transaminase (ALT)
    50863, -- Alkaline phosphatase (ALP)
    50878, -- Aspartate transaminase (AST)
    50867, -- Amylase
    50885, -- Total Bilirubin
    50884, -- Indirect Bilirubin
    50883, -- Direct Bilirubin
    50910, -- CK-CPK
    50911, -- CK-MB
    50927, -- Gamma Glutamyltransferase (GGT)
    50954  -- LD-LDH
)
AND le.subject_id IN ({', '.join(map(str, subject_ids))})
AND le.hadm_id IN ({', '.join(map(str, hadm_ids))})
GROUP BY le.subject_id, le.hadm_id
ORDER BY le.subject_id, le.hadm_id, first_charttime_enzyme
"""

# Execute the enzyme query
enzyme_df = run_query(enzyme_query)

# Merge the enzyme data with the main dataset containing chemistry, vital signs, and patient info
combined_df_with_enzymes = pd.merge(
    combined_df_with_chemistry.copy(),
    enzyme_df,
    on=['subject_id', 'hadm_id'],
    how='left'
)

# Display sample of the combined dataset
print(combined_df_with_enzymes.head())
print(f"Number of rows in the combined dataset with enzyme info: {combined_df_with_enzymes.shape[0]}")

/Users/zhuyu/anaconda3/envs/COMP90089/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   subject_id   hadm_id           charttime  lipase_level           admittime  \
0    10002976  27179825                 NaT           NaN 2145-02-28 19:44:00
1    10003400  23559586                 NaT           NaN 2137-08-04 00:07:00
2    10004606  29242151 2159-02-20 18:30:00        1222.0 2159-02-20 13:43:00
3    10006431  24638489 2129-01-23 23:36:00         508.0 2129-01-24 01:08:00
4    10006513  29846618                 NaT           NaN 2127-03-27 14:52:00

            dischtime gender  approximate_age_at_admission  \
0 2145-03-05 16:45:00      M                            70
1 2137-09-02 17:05:00      F                            72
2 2159-03-06 16:51:00      F                            64
3 2129-01-30 16:50:00      F                            66
4 2127-03-28 15:20:00      M                            42

                     race  actual_age  ...  alp_enzyme  ast_enzyme  \
0                   WHITE          71  ...         NaN         NaN
1  BLACK/AFRICAN AMERICAN          75  ...       189.0        34.0
2                   WHITE          64  ...       252.0       333.0
3                   WHITE          67  ...       138.0        14.0
4                   OTHER          51  ...         NaN         NaN

   amylase_enzyme  bilirubin_total_enzyme bilirubin_direct_enzyme  \
0             NaN                     NaN                     NaN
1             NaN                     1.2                     0.2
2           302.0                     1.7                     NaN
3           177.0                     0.6                     NaN
4             NaN                     NaN                     NaN

   bilirubin_indirect_enzyme  ck_cpk_enzyme  ck_mb_enzyme  ggt_enzyme  \
0                        NaN          222.0           NaN         NaN
1                        0.2            NaN           NaN         NaN
2                        NaN            NaN           NaN         NaN
3                        NaN            NaN           NaN         NaN
4                        NaN            NaN           NaN         NaN

  ld_ldh_enzyme
0           NaN
1         264.0
2           NaN
3         135.0
4           NaN

[5 rows x 52 columns]
Number of rows in the combined dataset with enzyme info: 4357

In [91]:
nan_counts = combined_df_with_enzymes.isna().sum()
# Columns without NaN values
print("Columns without NaN values:")
print(combined_df_with_enzymes.columns[combined_df_with_enzymes.isna().sum() == 0])
# Columns with NaN values and their counts
nan_columns = nan_counts[nan_counts > 0]
print("Columns with NaN values and their counts:")
print(nan_columns)

Columns without NaN values:
Index(['subject_id', 'is_confirmed_ap'], dtype='object')
Columns with NaN values and their counts:
hadm_id                           91
charttime                       2058
lipase_level                    2058
admittime                         91
dischtime                         91
gender                            91
approximate_age_at_admission      91
race                              91
actual_age                        91
in_hospital_death                 91
length_of_stay                    91
amylase_level                   4025
crp_level                       2410
icd_code                        2851
average_weight                  3021
charlson_comorbidity_index        91
average_height                  3502
first_charttime_vital           3019
heart_rate_vital                3019
sbp_vital                       3021
dbp_vital                       3022
mbp_vital                       3022
resp_rate_vital                 3020
temperature_c_vital             3024
spo2_vital                      3022
first_charttime_chemistry        112
albumin_chemistry               1576
globulin_chemistry              4197
total_protein_chemistry         4006
aniongap_chemistry               116
bicarbonate_chemistry            116
bun_chemistry                    116
calcium_chemistry                217
chloride_chemistry               115
creatinine_chemistry             113
glucose_chemistry                115
sodium_chemistry                 115
potassium_chemistry              115
first_charttime_enzyme           504
alt_enzyme                       717
alp_enzyme                       728
ast_enzyme                       703
amylase_enzyme                  2850
bilirubin_total_enzyme           739
bilirubin_direct_enzyme         3635
bilirubin_indirect_enzyme       3629
ck_cpk_enzyme                   2996
ck_mb_enzyme                    3391
ggt_enzyme                      4184
ld_ldh_enzyme                   1943
dtype: int64

In [92]:
print("Missing `hadm_id` in patient_info_df:", patient_info_df['hadm_id'].isna().sum())
print("Missing `hadm_id` in lipase_values_df:", lipase_values_df['hadm_id'].isna().sum())
print("Missing `hadm_id` in amylase_values_df:", amylase_values_df['hadm_id'].isna().sum())
print("Missing `hadm_id` in crp_values_df:", crp_values_df['hadm_id'].isna().sum())
# Continue for all intermediate dataframes

Missing `hadm_id` in patient_info_df: 0
Missing `hadm_id` in lipase_values_df: 155151
Missing `hadm_id` in amylase_values_df: 40469
Missing `hadm_id` in crp_values_df: 0

In [93]:
# Delete those rows with missing hadm_id
combined_df_with_vitals = combined_df_with_enzymes.dropna(subset=['hadm_id'])

nan_counts = combined_df_with_enzymes.isna().sum()
# Columns without NaN values
print("Columns without NaN values:")
print(combined_df_with_enzymes.columns[combined_df_with_enzymes.isna().sum() == 0])
# Columns with NaN values and their counts
nan_columns = nan_counts[nan_counts > 0]
print("Columns with NaN values and their counts:")
print(nan_columns)

Columns without NaN values:
Index(['subject_id', 'is_confirmed_ap'], dtype='object')
Columns with NaN values and their counts:
hadm_id                           91
charttime                       2058
lipase_level                    2058
admittime                         91
dischtime                         91
gender                            91
approximate_age_at_admission      91
race                              91
actual_age                        91
in_hospital_death                 91
length_of_stay                    91
amylase_level                   4025
crp_level                       2410
icd_code                        2851
average_weight                  3021
charlson_comorbidity_index        91
average_height                  3502
first_charttime_vital           3019
heart_rate_vital                3019
sbp_vital                       3021
dbp_vital                       3022
mbp_vital                       3022
resp_rate_vital                 3020
temperature_c_vital             3024
spo2_vital                      3022
first_charttime_chemistry        112
albumin_chemistry               1576
globulin_chemistry              4197
total_protein_chemistry         4006
aniongap_chemistry               116
bicarbonate_chemistry            116
bun_chemistry                    116
calcium_chemistry                217
chloride_chemistry               115
creatinine_chemistry             113
glucose_chemistry                115
sodium_chemistry                 115
potassium_chemistry              115
first_charttime_enzyme           504
alt_enzyme                       717
alp_enzyme                       728
ast_enzyme                       703
amylase_enzyme                  2850
bilirubin_total_enzyme           739
bilirubin_direct_enzyme         3635
bilirubin_indirect_enzyme       3629
ck_cpk_enzyme                   2996
ck_mb_enzyme                    3391
ggt_enzyme                      4184
ld_ldh_enzyme                   1943
dtype: int64

In [94]:
# Generate a CSV file with the final combined dataset
combined_df_with_vitals.to_csv('AP_ICD_CCI_dataset.csv', index=False)